body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#game-status {
    display: flex;
    gap: 20px;
}

#game-output {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
}

#game-input {
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #ccc;
}

.light-mode {
    background-color: #f4f4f4;
    color: #000000;
}

.light-mode #game-output {
    background-color: #ffffff;
    color: #000000;
}

.light-mode #game-input {
    background-color: #ffffff;
    color: #000000;
}
